{{ $id := .Get "id" }}
{{ $iframe := .Get "iframe" }}
{{ $title := .Get "title" }}
{{ $offset := .Get "offset" }}
{{ $minHeight := .Get "minHeight" }}

<section class="my-5">
  <div
    class="rounded-lg border bg-white dark:border-neutral-600 dark:bg-neutral-800">
    <div class="p-4">
      <div
        class="mx-auto h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
        role="status"
        data-te-react-loeader>
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
          >Loading...</span
        >
      </div>
      <iframe 
        data-te-react-iframe 
        data-te-react-offset="{{if eq $offset ""}}10{{ else }}{{ $offset }}{{ end }}" 
        {{ if ne $minHeight "" }}data-te-react-min-height="{{ $minHeight }}"{{ end }}
        class="transition-all motion-reduce:transition-none hidden" 
        width="100%" 
        src="{{ $.Site.Params.demoUrl }}{{ $iframe }}" 
        title="{{ $title }}"
        ></iframe>
    </div>
  </div>
</section>
